{% load static %}
<!doctype html>
<html>
	<head>
		<title> {{ cluster.root }} </title>
		<link rel="stylesheet" type="text/css" href="{% static 'clusters/css/analysis_page.css' %}">
	</head>
	<body>
		<div class="sidenav">
  		<a href="#about">About</a>
  		<a href="#services">Services</a>
  		<a href="#clients">Clients</a>
			<a href="#contact">Contact</a>
		</div>
		
		<div class="main">
		<h2> {{ cluster.root }} </h2>
		<img src="{% static 'clusters/'|add:cluster.root|add:'/'|add:cluster.root|add:'smooth.png' %}" alt="Smooth image of cluster" class="center">
		<p>This will display the cluster analysis of the cluster with root {{ cluster.root }}.</p>
		</div>
	</body>
</html>
