table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
}
th, td {
		padding: 5px;
}
th {
		text-align: left;
		background-color: pink;
}
td {
		text-align: center;
}
tr:nth-child(even) {
		background-color: #eee;
}
tr:nth-child(od) {
		background-color: #fff;
}
th tr td a { color: white; }
th tr td a:hover { color: white; }
th tr td a:visited { color: white; }
th tr td a:active { color: white; }
